name: auto-release

on:
  push:
    branches: [master]

jobs:

  publish-npm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@v1
        with:
          node-version: 17
          registry-url: https://registry.npmjs.org/
      - run: git config user.name zkeyword
      - run: git config user.email zjx1247225@163.com
      - run: npx standard-version
      - run: npm i -g tsdx
      - run: git push origin master
      - run: npm publish --access public
        env:
          NPM_AUTH_TOKEN: ${{secrets.NPM_AUTH_TOKEN}}

